@{
    ViewData["Title"] = "Politica de privacidad";
    Layout = "~/Views/Shared/_Layout_SocialApp.cshtml";
}

@* <div>
    @(await
    Html.RenderComponentAsync<ayudamigrante_netcore.Views.Shared.AppComponent.NewPost>(RenderMode.ServerPrerendered,new
    {
    Data= " Hello World " }))
    </div> *@

<div class="feed-main">
    <div class="col-md-8">
        @* <div>
            @(await
            Html.RenderComponentAsync<ayudamigrante_netcore.Views.Shared.AppComponent.NewPost>(RenderMode.ServerPrerendered,new
            {
            Data= " Hello World " }))
            </div> *@
        <div class="feed-publication-form">
            <form>
                <div class="row-1">
                    <div>
                        <img class="feed-publication-profile-pic" src="/images/foto.jpeg" />
                    </div>
                    <textarea class="form-control" placeholder="Escribe tus pensamientos aqui" rows="3"></textarea>
                </div>

                <div class="row-buttons">
                    <div class="post-options">
                        <button class="btn" type="button"><i class="bi bi-images cl-green"></i> Multimedia</button>
                    </div>

                    <div class="post-submit">
                        <button class="btn" type="button"><i class="bi bi-send-fill"></i> Publicar</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="feed-history">
            <div class="post">
                <div class="head">
                    <div>
                        <img class="feed-publication-profile-pic" src="/images/foto.jpeg">
                    </div>
                    <div class="post-info">
                        <label class="author">Salazar Santiago Erika Sofia</label>
                        <label class="dateTime">Publicado el Miercoloes 18 de Mayo, 07:30 PM</label>
                    </div>
                </div>

                <div class="body">
                    <div class="description">
                        <p>Hola a todos los miembros de esta comunidad, esto es solo un post de prueba</p>
                    </div>
                    <div class="media">
                        <img src="/images/5a20121a4.png" alt="Demo image">
                    </div>
                </div>

                <div class="counters">
                    <label>158 Me gusta</label> <label>|</label>
                    <label>10 Veces compartido</label> <label>|</label>
                    <label>25 Comentarios</label>
                </div>

                <div class="row-actions">
                    <div class="post-action margin-r-16">
                        <button class="button" type="button"><i class="bi bi-hand-thumbs-up-fill"></i>Me gusta</button>
                    </div>
                    @* <div class="post-action">
                        <button class="btn" type="button"><i class="bi bi-share-fill"></i>Compartir</button>
                    </div> *@
                    <div class="post-action">
                        <button class="button" type="button"><i class="bi bi-chat-right-dots-fill"></i>Comentar</button>
                    </div>
                </div>
            </div>

            <div class="post">
                <div class="head">
                    <div>
                        <img class="feed-publication-profile-pic" src="/images/foto.jpeg">
                    </div>
                    <div class="post-info">
                        <label class="author">Salazar Santiago Erika Sofia</label>
                        <label class="dateTime">Publicado el Miercoloes 18 de Mayo, 07:30 PM</label>
                    </div>
                </div>

                <div class="body">
                    <div class="description">
                        <p>Hola a todos los miembros de esta comunidad, esto es solo un post de prueba</p>
                    </div>
                    <div class="media">
                        <video src="/videos/Video.mp4" controls=true></video>
                    </div>
                </div>

                <div class="counters">
                    <label>158 Me gusta</label> <label>|</label>
                    <label>10 Veces compartido</label> <label>|</label>
                    <label>25 Comentarios</label>
                </div>

                <div class="row-actions">
                    <div class="post-action margin-r-16">
                        <button class="button" type="button"><i class="bi bi-hand-thumbs-up-fill"></i>Me gusta</button>
                    </div>
                    @* <div class="post-action">
                        <button class="btn" type="button"><i class="bi bi-share-fill"></i>Compartir</button>
                    </div> *@
                    <div class="post-action">
                        <button class="button" type="button"><i class="bi bi-chat-right-dots-fill"></i>Comentar</button>
                    </div>
                </div>
            </div>

            <div class="post">
                <div class="head">
                    <div>
                        <img class="feed-publication-profile-pic" src="/images/foto.jpeg">
                    </div>
                    <div class="post-info">
                        <label class="author">Salazar Santiago Erika Sofia</label>
                        <label class="dateTime">Publicado el Miercoloes 18 de Mayo, 07:30 PM</label>
                    </div>
                </div>

                <div class="body">
                    <div class="description">
                        <p>Hola a todos los miembros de esta comunidad, esto es solo un post de prueba</p>
                    </div>
                </div>

                <div class="counters">
                    <label>158 Me gusta</label> <label>|</label>
                    <label>10 Veces compartido</label> <label>|</label>
                    <label>25 Comentarios</label>
                </div>

                <div class="row-actions">
                    <div class="post-action margin-r-16">
                        <button class="button" type="button"><i class="bi bi-hand-thumbs-up-fill"></i>Me gusta</button>
                    </div>
                    @* <div class="post-action">
                        <button class="btn" type="button"><i class="bi bi-share-fill"></i>Compartir</button>
                    </div> *@
                    <div class="post-action">
                        <button class="button" type="button"><i class="bi bi-chat-right-dots-fill"></i>Comentar</button>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="col-md">

    </div>

</div>