@{
    ViewData["Title"] = "Perfil";
    Layout = "~/Views/Shared/_Layout_SocialApp.cshtml";
}

<div class="flex-row user-profile-container">
    <div class="flex-20 user-profile-card">
        <div class="user-profile-card-picture">
            <img src="/images/foto.jpeg"/>
        </div>
        <div class="user-profile-card-name">
            <h5>Salazar Santiago Erika Sofia</h5>
        </div>
        <span class="span"></span>
        <div class="user-profile-card-info-section">
            <label><i class="bi bi-chat-right-heart"></i>Sobre mi</label>
            <p>Somos una sociedad o suciedad e.e</p>
        </div>
        <div class="user-profile-card-info-section">
            <label><i class="bi bi-balloon-heart"></i>Cumpleaños</label>
            <p>1 de Enero</p>
        </div>
        <div class="user-profile-card-info-section">
            <label><i class="bi bi-geo-fill"></i>Lugar de origen</label>
            <p>Ciudad de Mexico, Mexico</p>
        </div>
        <div class="user-profile-card-info-section">
            <label><i class="bi bi-calendar3"></i>Membro desde</label>
            <p>26 de Mayo 2021 (1 año)</p>
        </div>
        <span class="span"></span>
        <a class="button-2 margin-top-8" href="#">Editar informacion</a>
    </div>
    <div class="flex-80">
        <label>text</label>
    </div>
</div>