@{
    ViewData["Title"] = "Perfil";
    Layout = "~/Views/Shared/_Layout_SocialApp.cshtml";
}

<div class="flex-row user-profile-container">
    <div class="flex-20 user-profile-card">
        <div class="user-profile-card-picture">
            <img src="/images/foto.jpeg"/>
        </div>
        <div class="user-profile-card-name">
            <h5>Salazar Santiago Erika Sofia</h5>
        </div>
    </div>
    <div class="flex-80">
        <label>text</label>
    </div>
</div>