/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

    a:hover {
        text-decoration: none;
    }

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    /*margin-bottom: 60px;*/
    background-color: whitesmoke;
}

main {
    background-color: whitesmoke;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.mnav {
    background-color: white;
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
}

    .mnav .brand {
        color: black;
        font-weight: 500;
        font-size: 32px;
    }

    .mnav .mnav-right {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .mnav .mnav-left {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .mnav ul {
        display: flex !important;
        margin-right: 50px !important;
        margin-left: auto !important;
    }

        .mnav ul li {
            justify-content: flex-end !important;
            padding-left: 25px;
        }

            .mnav ul li.contrast a {
                color: darkblue !important;
                font-weight: 500;
            }

            .mnav ul li a {
                color: GrayText;
                font-size: larger;
            }

@media (max-width: 576px) {
    .mnav {
        justify-content: center;
    }

        .mnav .brand {
            margin-right: 0 !important;
        }
}

.btn-enfasis {
    background-color: darkblue;
    padding: 12px;
    font-weight: 600;
    color: white;
}

.btn-enfasis-inverse {
    background-color: white;
    color: darkblue;
    font-weight: 600;
    padding: 12px;
}

.feed-main {
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: 16px;
    padding-right: 5%;
    padding-left: 5%;
}

    .feed-main .feed-publication-form form {
        display: flex;
        width: 100%;
    }

    .feed-main .feed-publication-form form .row-1 {
        display: flex;
    }