/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

a:hover {
    text-decoration: none;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    /*margin-bottom: 60px;*/
    background-color: whitesmoke;
}

main {
    background-color: whitesmoke;
}

.cl-white {
    color: white;
}

.cl-green {
    color: green;
}

.cl-red {
    color: red;
}

.cl-violet {
    color: blueviolet;
}

.cl-darkblue {
    color: darkblue;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    /* Vertically center the text there */
}

.mnav {
    background-color: white;
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
}

.mnav .brand {
    color: black;
    font-weight: 500;
    font-size: 32px;
}

.mnav .mnav-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.mnav .mnav-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.mnav ul {
    display: flex !important;
    margin-right: 50px !important;
    margin-left: auto !important;
}

.mnav ul li {
    justify-content: flex-end !important;
    padding-left: 25px;
}

.mnav ul li.contrast a {
    color: darkblue !important;
    font-weight: 500;
}

.mnav ul li a {
    color: GrayText;
    font-size: larger;
}

@media (max-width: 667px) {
    .mnav {
        justify-content: center;
    }

    .mnav .brand {
        margin-right: 0 !important;
    }

    .mobile-hidden {
        display: none;
    }
}
@media (min-width: 576px) {
    .md-hidden {
        display: none;
    }
}
/* ESTILOS GENERALES */
.button {
    padding: 6px 12px;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.margin-r-16 {
    margin-right: 16px;
}

.margin-0 {
    margin: 0;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-align-center {
    align-items: center;
}

.profile-pic-2 {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 16px;
}

.text-left {
    text-align: start;
}
.btn-enfasis {
    background-color: darkblue;
    padding: 12px;
    font-weight: 600;
    color: white;
}

.btn-enfasis-inverse {
    background-color: white;
    color: darkblue;
    font-weight: 600;
    padding: 12px;
}

.feed-main {
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: 16px;
    padding-right: 5%;
    padding-left: 5%;
}

.feed-main .feed-publication-form form {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    padding: 16px;
    border-radius: 8px;
}

.feed-main .feed-publication-form form .row-1 {
    display: flex;
}

.feed-main .feed-publication-form form .row-1 textarea {
    border: 0px;
}

.feed-main .feed-publication-form form .row-buttons {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
}

.feed-main .feed-publication-form form .row-buttons .post-options {
    display: flex;
    flex-direction: row;
}

.feed-main .feed-publication-form form .row-buttons .post-options .btn {
    background-color: whitesmoke;
    height: 40px;
    width: 150px;
    margin-right: 16px;
}

.feed-main .feed-publication-form form .row-buttons {
    margin-left: 56px;
}

.feed-main .feed-publication-form form .row-buttons .post-submit {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.feed-main .feed-publication-form form .row-buttons .post-submit .btn {
    width: 25%;
    color: whitesmoke;
    background-color: darkblue;
}

.feed-main .feed-publication-profile-pic {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-right: 16px;
}

.feed-main .feed-history {
    display: flex;
    margin-top: 16px;
    flex-direction: column;
}

.feed-main .feed-history .post {
    display: flex;
    flex: 100;
    flex-direction: column;
    background-color: white;
    padding: 16px !important;
    border-radius: 8px;
    margin-bottom: 16px;
}

.feed-main .feed-history .post .head {
    display: flex;
    flex-direction: row;
}

.feed-main .feed-history .post .head .post-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.feed-main .feed-history .post .head .post-info label {
    margin: 0px;
}

.feed-main .feed-history .post .head .post-info .author {
    text-align: start;
    font-weight: 500;
}

.feed-main .feed-history .post .head .post-info .dateTime {
    text-align: start;
    font-size: small;
    color: gray;
}

.feed-main .feed-history .post .body {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 56px;
    margin-top: 16px;
}

.feed-main .feed-history .post .body .description p {
    margin-bottom: 8px;
    text-align: start;
}

.feed-main .feed-history .post .body .media img,
video {
    width: 100%;
}

.feed-main .feed-history .post .counters {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    margin-left: 56px;
    margin-top: 8px;
}

.feed-main .feed-history .post .counters label {
    margin-right: 8px;
    margin-bottom: 0px;
    font-size: 14px;
    color: gray;
}

.feed-main .feed-history .post .row-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 56px;
    margin-top: 16px;
}

.feed-main .feed-history .post .row-actions .post-action {
    width: 100%;
}

.feed-main .feed-history .post .row-actions .post-action .button {
    background-color: whitesmoke !important;
    width: 100%;
}

.feed-main .feed-history .post .row-actions .post-action .button .bi {
    margin-right: 8px;
}

.feed-sidebar {
    display: flex;
    flex-direction: column;
}

.feed-sidebar .container {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background-color: white;
    padding: 16px;
}

.feed-sidebar .container .profile-link a {
    color: black;
}

.feed-sidebar .container .links {
    margin-top: 16px;
}

.feed-sidebar .container .links .link {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 16px;
    margin-top: 8px;
    margin-left: 66px;
    text-align: end;
    color: black;
    font-weight: 500;
    border-radius: 8px;
}

.feed-sidebar .container .links .link:hover {
    background-color: whitesmoke;
}

.feed-sidebar .container .links .link .bi {
    margin-left: 8px;
}

/* ESTILOS USER-RPOFILE PAGE */
.user-profile-container {
    padding: 16px 5%;
}