@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout_2.cshtml";
}

<div class="home-bg-parallax">
    <div class="container">
        <div class="row center-enfasis">
            <h3 class="enfasis">HAZ EL CAMBIO</h3>
        </div>
        <div class="row center-enfasis">
            <h3 class="enfasis">NOSOTROS NOS UNIMOS PARA HACER LA DIFERENCIA.</h3>
        </div>
    </div>
</div>

<div class="home-center-continer">
    <h2 class="fuente-personalizada">AM es una comunidad donde residentes locales pueden tomar el papel de voluntarios para una buena causa</h2>
    <p class="parraf">Ayuda a los migrantes extranjeros a poder lograr sus objetivos de tener una vida mas prospera y digna, para ellos la ayuda mas minima es muy cruscial para sus vidas.</p>
    <p class="parraf">Todo tipo de ayudas son bienvenidas:</p>
    <ul>
        <li>
            <p>Refiguios y asilos</p>
        </li>
        <li>
            <p>Insumos medicos</p>
        </li>
        <li>
            <p>Insumos de higiene personal</p>
        </li>
        <li>
            <p>Empleos</p>
        </li>
    </ul>
</div>

<div class="home-center-continer">
    <h2 class="fuente-personalizada">Ningun migrante es menos</h2>
    <p class="parraf">Todos son bien recibidos y pueden unirse a la cumunidad de AM: Migrantes locales y rurales locales, Migrantes extranjeros que buscan hacer un cambio para sus familias y vidas.</p>
</div>

<div class="home-center-continer">
    <a class="btn btn-enfasis" href="#">CONOCE MAS SOBRE NOSOTROS</a>
</div>

<div class="home-center-img-splash-continer">
    <div class="img-splash-1">
        <div class="content">
            <a class="btn btn-enfasis-inverse" href="">Ser parte del cambio</a>
        </div>
    </div>
</div>
