@{
    ViewData["Title"] = "Politica de privacidad";
    Layout = "~/Views/Shared/_Layout_2.cshtml";
}

<div class="privacy-terms">
    <h1>Politica de privacidad</h1>

    <p>Información que "AM" recopila y cómo la usamos</p>

    <h3>INFORMACION PERSONAL</h3>

    <p>
        Para cumplir su misión, "AM" depende de la participación de personas como tú. Las comunicaciones de "AM" están
        diseñadas para facilitar esa participación a través de la interacción, lo que a menudo significa pedir a las
        personas su información personal y retener esa información en nuestros sistemas. Lo que sigue es una explicación de
        las formas en que solicitamos su información personal.
    </p>

    <h3>CUMPLIMIENTO DEL GDRP</h3>

    <p>
        Cuando corresponda, "AM" cumple con la ley de protección de datos de la UE al recopilar, usar, almacenar y procesar
        sus datos personales (tal como se define en el Reglamento General de Protección de Datos de la UE ((UE) 2016/679)
        ("GDPR")) y a continuación es una descripción general de cómo "AM" cumple con la ley de protección de datos de la UE.
    </p>

    <ul>
        <li>
            <p>
                Base legal: "AM" tiene un interés legítimo en procesar su información personal y sus intereses y derechos
                fundamentales no anulan esos intereses.
            </p>
        </li>
        <li>
            <p>
                Categorías de usuario: partes interesadas clave, socios comerciales, personas influyentes y otros contactos
                comerciales.
            </p>
        </li>
        <li>
            <p>
                Interés legítimo: los ejemplos del interés legítimo que tenemos en el procesamiento de sus datos personales
                incluyen el crecimiento de nuestro negocio, la interacción con las partes interesadas clave, los socios y la
                gestión de nuestras comunicaciones comerciales.
            </p>
        </li>
        <li>
            <p>
                Otra base legal: también podemos procesar los datos personales que nos proporcione cuando:
            </p>

            <ul>
                <li>
                    <p>
                        Tenemos motivos legales para hacerlo, incluso para cumplir con nuestras obligaciones legales y reglamentarias;
                    </p>
                </li>
                <li>
                    <p>
                        Dicho procesamiento es necesario a los efectos de ejecutar un contrato entre nosotros.
                    </p>
                </li>
            </ul>
        </li>
        <li>
            <p>
                Interés legítimo: los ejemplos del interés legítimo que tenemos en el procesamiento de sus datos personales
                incluyen el crecimiento de nuestro negocio, la interacción con las partes interesadas clave, los socios y la
                gestión de nuestras comunicaciones comerciales.
            </p>
        </li>
        <li>
            <p>
                Controladores de datos: los controladores de datos a los efectos de la ley de protección de datos de la UE
                son ONE y su red de afiliados globales. Esas organizaciones incluyen: The ONE Campaign, ONE Action, ONE
                Global Canada, ONE Campaign Nigeria LTD/GTE, ONE Campaign Africa NPC y ONE Against Poverty UK. Esperamos
                seguir creciendo, por lo que mantendremos esta Política actualizada con cualquier nueva entidad que se
                incorpore en el futuro.
            </p>
        </li>
        <li>
            <p>
                Terceros: nunca divulgaremos sus datos personales, excepto al personal de "AM" y a los agentes autorizados
                de "AM". Si divulgamos sus datos a agentes autorizados de terceros, ejecutaremos acuerdos de
                confidencialidad para garantizar que el agente de terceros nunca comparta, venda o divulgue sus datos personales.
            </p>
        </li>
        <li>
            <p>
                Motivo del procesamiento: el motivo por el que procesamos sus datos personales (manteniéndolos en nuestros
                sistemas y servidores y comunicándonos con usted) es para cumplir con nuestra misión de recaudar fondos y
                generar conciencia sobre la lucha contra el SIDA. Nunca venderemos ni nos beneficiaremos de sus datos personales.
            </p>
        </li>
        <li>
            <p>
                Puedes darte de baja en cualquier momento. Además, tiene el derecho de eliminación, por lo que si desea que
                se eliminen sus datos personales de nuestros sistemas, comuníquese con nosotros.
            </p>
        </li>
        <li>
            <p>
                Sus derechos: si es ciudadano de la UE y reside en la UE, o es ciudadano de fuera de la UE que reside en la
                UE, puede tener los siguientes derechos con respecto a los datos personales que nos proporciona, en la medida
                permitida por los datos aplicables leyes de protección:
            </p>
            <ul>
                <li>
                    <p>
                        A retirar cualquier consentimiento que nos haya proporcionado para procesar sus datos personales.
                    </p>
                </li>
                <li>
                    <p>
                        Acceder o rectificar sus datos personales.
                    </p>
                </li>
                <li>
                    <p>
                        A que se eliminen sus datos personales si ya no son necesarios para los fines para los que fueron
                        procesados, usted ha retirado su consentimiento u objeción a su procesamiento y no hay otros motivos
                        legítimos para procesarlo o considera que ha sido procesados ​​ilícitamente
                    </p>
                </li>
                <li>
                    <p>
                        Restringir el procesamiento de sus datos personales si cuestiona su exactitud, su procesamiento es
                        ilegal, ya no los necesitamos pero usted los necesita para un reclamo legal, o si se ha opuesto a su
                        procesamiento y espera la verificación de nuestros motivos legítimos para el procesamiento. eso.
                    </p>
                </li>
                <li>
                    <p>
                        Transferir sus datos personales a otra empresa en determinadas circunstancias.
                    </p>
                </li>
            </ul>
        </li>
    </ul>

    <p>
        También tiene derecho a presentar una queja ante su regulador nacional de protección de datos si cree que
        sus datos personales se han procesado ilegalmente.
    </p>
</div>