@{
    ViewData["Title"] = "Terminos de uso";
    Layout = "~/Views/Shared/_Layout_2.cshtml";
}

<div class="privacy-terms">
    <h1>Terminos de uso</h1>

    <p>
        Por favor revise cuidadosamente los siguientes Términos y Condiciones. Estos Términos de uso son un contrato
        legalmente vinculante entre usted y (AM) relacionado con el acceso a todos los productos, contenidos y materiales
        accesibles desde www.am.org, cualquiera de sus subdominios o cualquier otro sitio web operado por o para (AM)
        (el “Sitio”). Al usar este Sitio, usted acepta estar sujeto a los siguientes términos y condiciones (“Términos de uso”)
        que rigen el uso de este Sitio. Su acceso y uso del Sitio está condicionado a su cumplimiento continuo de estos
        Términos de uso. Si no está de acuerdo con estos Términos de uso, no utilice este Sitio. Nos reservamos el derecho de
        actualizar o modificar estos Términos de uso en cualquier momento sin previo aviso. Su uso de este Sitio después de
        dichos cambios constituye su acuerdo de seguir y estar sujeto a los Términos de uso modificados. Por esta razón, lo
        alentamos a que revise la versión más reciente de estos Términos de uso cada vez que use este Sitio.
    </p>

    <h3>General</h3>

    <p>
        Los nombres, marcas comerciales, logotipos, diseños, texto y gráficos utilizados en este Sitio, la selección y
        disposición de los mismos, y todos los demás materiales utilizados en este Sitio, son y seguirán siendo propiedad
        de (AM) o bajo licencia de (AM). No obstante lo anterior, de vez en cuando, ciertas marcas comerciales de terceros,
        materiales protegidos por derechos de autor y otra propiedad intelectual que no es propiedad de (AM) pueden aparecer
        en este Sitio. Cuando aparecen dichos materiales, se pueden mostrar los créditos y avisos apropiados.
    </p>

    <p>
        El uso de este Sitio está sujeto a las prácticas de privacidad de este Sitio. Lea la Política de privacidad en
        www.AM.org ("Política de privacidad"). La Política de privacidad se incorpora a estos Términos de uso y explica cómo
        (AM) recopila, usa y comparte su información personal en relación con este Sitio. Al usar este Sitio, usted acepta
        los términos de la Política de Privacidad.
    </p>

    <p>
        Para acceder a cualquier parte de este Sitio que se refiera a productos alcohólicos, usted reconoce y acepta que
        tiene la edad legal para beber. Si usted es una persona menor de edad, no se le permite el acceso o el uso de
        aquellas partes del Sitio que se refieren a productos alcohólicos, incluido el acceso a publicidad o información
        de marketing relacionada con el alcohol en el Sitio. Además, reconoce y acepta que debe tener la edad legal para
        beber para comprar o consumir cualquiera de los productos o mercancías alcohólicos o para participar en cualquiera
        de las promociones u otras ofertas en este Sitio o que se relacionen con los productos alcohólicos.
    </p>

    <p>
        Se le permite utilizar este Sitio y los materiales utilizados en este Sitio únicamente para fines relacionados con
        (AM), su misión y (PRODUCTO) AM. No alterará ningún material provisto en este Sitio de ninguna manera o forma.
        No se le permite vender ninguno de los materiales utilizados en este Sitio a terceros ni utilizar ninguno de dichos
        materiales para beneficio personal. Cualquier alteración de dichos materiales o cualquier otro uso indebido de los
        materiales que se encuentran en este Sitio está estrictamente prohibido y constituye una violación de los derechos
        de propiedad de (AM).
    </p>

    <p>
        (AM), puede, a su exclusivo criterio, rescindir, cambiar, modificar, suspender, realizar mejoras o descontinuar
        cualquier aspecto de este Sitio, de forma temporal o permanente, incluida la disponibilidad de cualquier característica
        de este Sitio o el acceso a cualquier parte de este Sitio, en cualquier momento con o sin previo aviso. Usted acepta
        que (AM) no será responsable ante usted ni ante ningún tercero por cualquier modificación, suspensión o interrupción
        de este Sitio. Usted reconoce que este Sitio está sujeto a cortes, ralentizaciones u otras interrupciones. Además,
        reconoce que no somos responsables de la degradación del rendimiento, la interrupción o los retrasos que surjan de
        cualquier fuente. No seremos responsables ante usted si este Sitio no está disponible en un momento dado. Usted acepta
        que su único recurso por cualquier falta de disponibilidad del Sitio será cancelar su uso de este Sitio.
    </p>

    <p>
        (AM) no es y no será responsable por el contenido desactualizado, inexacto, inadecuado u ofensivo utilizado en este
        Sitio, o por el contenido que sea incorrecto de alguna otra manera, o por enlaces rotos en cualquier sitio web de
        terceros vinculado hacia o desde este Sitio. No respaldamos ningún producto, marca o servicio ofrecido por terceros a
        menos que se indique específicamente por escrito, y usted acepta consultar únicamente a dichos terceros con respecto a
        cualquier pregunta, queja o reclamo.
    </p>

    <p>
        Todo el software proporcionado por terceros que se utiliza en este Sitio es responsabilidad del tercero proveedor y
        cualquier queja relacionada con el producto o servicio en cuestión debe dirigirse a dicho tercero y no a (AM). No
        puede distribuir, vender ni transmitir dicho software y no tiene permitido alterar, modificar o adaptar dicho software,
        lo que incluye, entre otros, la traducción, descompilación, ingeniería inversa, desensamblaje o creación de trabajos
        derivados del mismo. (AM) no es ni será responsable de que los usuarios no puedan acceder a este Sitio o partes del
        mismo debido a fallas técnicas, problemas de conexión a Internet u otras circunstancias imprevistas. (AM) no es ni será
        responsable de ningún daño que pueda ocurrirle a su software o hardware (como su computadora) al descargar materiales de
        este Sitio.
    </p>

    <p>
        Al usar este Sitio, usted acepta usarlo solo para fines lícitos y de una manera que no infrinja los derechos de terceros
        ni inhiba el uso y disfrute de este Sitio por parte de terceros. Usted acepta cumplir con todas las leyes, reglamentos
        y códigos de conducta aplicables y ser el único responsable de todo lo que surja de su uso de este Sitio. Usted acepta
        proporcionarnos información verdadera, precisa, completa y actual y notificarnos de inmediato cualquier cambio en esa
        información. Usted acepta no publicar, publicar, diseminar, distribuir ni transmitir de otro modo ningún material o
        información difamatorio, ofensivo, infractor, obsceno, indecente o ilegal u objetable en relación con este Sitio.
    </p>

    <h3>Usos de usuarios</h3>

    <p>
        Este Sitio puede ahora o en el futuro permitir el envío de videos, imágenes u otros tipos de comunicaciones y
        contenido enviado por usted y otros usuarios ("Envíos de usuarios") y el alojamiento, el intercambio y/o la publicación
        de dichos Envíos de usuarios. Usted comprende que, ya sea que dichos Envíos de usuarios se publiquen o no, (RED) no
        garantiza ninguna confidencialidad con respecto a los envíos. Usted reconoce que al publicar Envíos de usuario, dichos
        Envíos de usuario estarán disponibles para cualquier usuario de este Sitio y que estos usuarios pueden copiar,
        redistribuir, modificar, mostrar y/o utilizar sus Envíos de usuario sin su consentimiento. Usted acepta todos los
        riesgos asociados con la publicación de Envíos de usuarios en el Sitio.
    </p>

    <p>
        Usted será el único responsable de sus propios Envíos de usuario y de las consecuencias de publicarlos o publicarlos.
        En relación con los Envíos de usuarios, usted afirma, representa y garantiza que:
    </p>

    <ul>
        <li>
            <p>
                usted posee o tiene las licencias, los derechos, los consentimientos y los permisos necesarios, y/o los derechos
                en virtud de la ley aplicable, para usar y nos autoriza a usar todas las patentes, marcas registradas, secretos
                comerciales, derechos de autor u otros derechos de propiedad, incluidos, entre otros, todos los permisos
                relacionados con la música en y para todos y cada uno de los Envíos del usuario para permitir la inclusión y el
                uso de los Envíos del usuario en la forma contemplada por el Sitio y estos Términos de uso;
            </p>
        </li>
        <li>
            <p>
                su grabación de imágenes y/o videos de presentaciones deberá cumplir con todas las leyes, normas, reglamentos,
                códigos y ordenanzas aplicables, así como con las reglas aplicables del lugar, con respecto a la grabación,
                distribución y uso de imágenes y videos de conciertos y otras presentaciones; y
            </p>
        </li>
        <li>
            <p>
                usted tiene el consentimiento por escrito, liberación y/o permiso de todas y cada una de las personas
                individuales identificables en el Envío del usuario, y/o el derecho bajo la ley aplicable, de usar el
                nombre, la imagen, la semejanza y/o el desempeño de cada uno de esos persona individual identificable para
                permitir la inclusión y el uso de los Envíos del usuario en la forma contemplada por el Sitio y estos
                Términos de uso.
            </p>
        </li>
    </ul>

    <p>
        Para mayor claridad, conservará todos sus derechos de propiedad en sus Envíos de usuario. Sin embargo, al enviarnos
        los Envíos del usuario, por la presente nos otorga una licencia mundial, no exclusiva, totalmente pagada, libre de
        regalías, irrevocable, perpetua, sublicenciable y transferible para usar, reproducir, distribuir, preparar trabajos
        derivados de, mostrar, realizar y explotar de otro modo los Envíos del usuario en relación con el Sitio, lo que
        incluye, entre otros, la promoción y redistribución de parte o la totalidad del Sitio (y los trabajos derivados del
        mismo) en cualquier formato de medios y a través de cualquier canal de medios en todo el mundo. También otorga a cada
        usuario del Sitio una licencia no exclusiva para acceder a sus Envíos de usuario a través del sitio web del Sitio y
        para usar, reproducir, distribuir, preparar trabajos derivados, mostrar y realizar dichos Envíos de usuario según lo
        permita la funcionalidad del Sitio y bajo estos Términos de uso.
    </p>

    <p>
        En relación con los Envíos de usuarios, usted también acepta que no:
    </p>

    <ul>
        <li>
            <p>
                enviar material con derechos de autor, protegido por secreto comercial o sujeto a derechos de propiedad de
                terceros, incluidos, entre otros, derechos de privacidad y publicidad, a menos que usted sea el propietario
                de dichos derechos o tenga permiso de su propietario legítimo o esté autorizado de otro modo de conformidad
                con ley para publicar el material y otorgarnos todos los derechos de licencia otorgados en este documento;
            </p>
        </li>

        <li>
            <p>
                publicar falsedades o tergiversaciones que puedan dañarnos a nosotros o a cualquier tercero;
            </p>
        </li>

        <li>
            <p>
                enviar material que sea ilegal, obsceno, difamatorio, calumnioso, amenazante, pornográfico, acosador, odioso,
                racial o étnicamente ofensivo, o que fomente una conducta que se consideraría un delito penal, daría lugar
                a responsabilidad civil, violaría cualquier ley o sería inapropiado de cualquier otro modo ;
            </p>
        </li>

        <li>
            <p>
                publicar anuncios o solicitudes de negocios; o
            </p>
        </li>

        <li>
            <p>
                hacerse pasar por otra persona.
            </p>
        </li>
    </ul>

    <p>
        No respaldamos ningún Envío de usuario ni ninguna opinión, recomendación o consejo expresado en el mismo, y renunciamos
        expresamente a toda responsabilidad en relación con los Envíos de usuario. No permitimos deliberadamente actividades que
        infrinjan los derechos de autor o la infracción de los derechos de propiedad intelectual en el Sitio, y eliminaremos
        todo el contenido y los Envíos del usuario si se nos notifica adecuadamente que dicho contenido o los Envíos del usuario
        infringen los derechos de autor de terceros (consulte "Reclamaciones de infracción de derechos de autor" a continuación ).
        También cancelaremos el acceso de un usuario del Sitio al Sitio, si se determina, a nuestro exclusivo criterio, que
        dicho usuario es un infractor reincidente. Un infractor reincidente es un usuario del Sitio que ha sido notificado de
        actividad infractora más de dos veces y/o se le ha eliminado contenido o un Envío del usuario del Sitio más de dos veces.
        También nos reservamos el derecho de decidir si el contenido o un Envío del usuario es apropiado y cumple con estos
        Términos de uso para violaciones distintas a la infracción de derechos de autor y violaciones de la ley de propiedad
        intelectual, como, entre otros, pornografía, material obsceno o difamatorio. Podemos eliminar dichos Envíos de usuario y/o
        cancelar el acceso de un usuario del Sitio por cargar dicho material en violación de estos Términos de uso en cualquier
        momento, sin previo aviso y a nuestro exclusivo criterio. Además, nos reservamos el derecho de eliminar cualquier contenido
        y/o Envío del usuario o cancelar el acceso de cualquier usuario al Sitio en cualquier momento, por cualquier motivo,
        sin previo aviso ni consentimiento.
    </p>

    <p>
        Usted comprende que al usar el Sitio, estará expuesto a Envíos de usuarios de una variedad de fuentes, y que no somos
        responsables de la precisión, utilidad, seguridad o derechos de propiedad intelectual de dichos Envíos de usuarios o
        relacionados con ellos. Además, comprende y reconoce que puede estar expuesto a Envíos de usuarios que son inexactos,
        ofensivos, indecentes u objetables, y acepta renunciar, y por la presente renuncia, a cualquier derecho o recurso legal
        o equitativo que tenga o pueda tener contra nosotros con al respecto, y acepta indemnizarnos y eximirnos a nosotros, a
        nuestros propietarios y operadores, afiliados y otorgantes de licencias, de toda responsabilidad en la mayor medida
        permitida por la ley con respecto a todos los asuntos relacionados con su uso del Sitio y/o Envíos de usuarios.
    </p>

    <p>
        Le permitimos vincular sus propios Envíos de usuario alojados en el Sitio y Envíos de usuario de otros terceros
        disponibles en el Sitio solo para fines personales y no comerciales. Usted comprende que los Envíos de usuarios,
        estén o no vinculados a otros sitios web, se le proporcionan solo según estén disponibles, y no garantizamos que
        su disponibilidad sea ininterrumpida o libre de errores. Nos reservamos el derecho de descontinuar cualquier aspecto
        del Sitio en cualquier momento, lo que incluye, entre otros, descontinuar cualquier contenido vinculado o incrustado,
        ya sea en general o en casos específicos.
    </p>

    <p>
        Cuando solicita que publiquemos sus Envíos de usuario publicados en otros servicios de terceros, como YouTube,
        Twitter, Flickr y similares, en este Sitio (mediante el uso de etiquetas como se indica en este Sitio, carga directa
        u otros medios), usted reconoce que es la persona que publica dicho Envío de usuario en este Sitio, que solo estamos
        facilitando dicha solicitud y que usted sigue siendo el único responsable del Envío de usuario. Usted nos autoriza a
        enviar y publicar su Envío de usuario a este Sitio y declara que dichas actividades realizadas en su nombre no violan
        los términos de uso de dichos servicios de terceros ni ningún otro derecho de terceros.
    </p>

    <h3>Suspencion o terminacion</h3>

    <p>
        En el caso de que (AM), a su exclusivo criterio, determine que usted ha incumplido, violado o contravenido estos
        Términos de uso o ha demostrado una conducta inapropiada en el uso de este Sitio, sin limitar sus otros derechos y
        recursos, todos los cuales están expresamente reservados, (AM) se reserva el derecho absoluto de advertirle por correo
        electrónico que ha violado estos Términos de uso y solicitarle que suspenda dicha conducta; elimine cualquier material
        o contenido que publique en la sección de noticias o en cualquier otra área de este Sitio; descontinuar cualquier
        membresía o cuenta que pueda tener con respecto al Sitio y/o cualquier otra membresía relacionada con servicios
        adicionales; y tomar medidas (incluida la terminación, suspensión o restricción de su uso de este Sitio) para evitar
        que use el Sitio o se vincule al Sitio.
    </p>
</div>